{{- $shortname := .Site.Config.Services.Disqus.Shortname -}}
{{- $identifier := .RelPermalink -}}
{{- with .File -}}
  {{- $identifier = .UniqueID -}}
{{- end -}}
{{- if .IsHome -}}
  {{- $identifier = "home" -}}
{{- end -}}

{{- if $shortname -}}
  <div id="disqus_thread"></div>
  <script>
    (function () {
      var disqusShortname = {{ $shortname | jsonify | safeJS }};
      var canonicalUrl = {{ .Permalink | jsonify | safeJS }};
      var pageIdentifier = {{ $identifier | jsonify | safeJS }};
      var pageTitle = {{ .Title | jsonify | safeJS }};
      var host = window.location.hostname;

      window.disqus_config = function () {
        this.page.url = canonicalUrl;
        this.page.identifier = pageIdentifier;
        this.page.title = pageTitle;
      };

      if (host === "localhost" || host === "127.0.0.1" || host === "") {
        document.getElementById("disqus_thread").innerHTML =
          '<p class="comments-fallback">Local preview does not load Disqus. Comments load after the site is published to https://beining.uk/.</p>';
        return;
      }

      var d = document;
      var s = d.createElement("script");
      s.async = true;
      s.src = "https://" + disqusShortname + ".disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    <p class="comments-fallback">
      Please enable JavaScript to view comments powered by Disqus.
    </p>
  </noscript>
{{- else -}}
  <p class="comments-fallback">
    Comments are unavailable because the Disqus shortname is not configured.
  </p>
{{- end -}}
